.detail_home {
    width: 100%;
    height: 1200px;
    background: var(--modelDark);

}

.detail_left_home {
    width: 800px;
    height: 100%;
    background: #eee;
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}

.detail_right_home {
    width: 320px;
    height: 100%;
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}

.sorker {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.detail_publish {
    margin-left: 700px;

}
.heart_likes{
    position: fixed;
    left: 270px;
    top: 290px;
}
.header_icon:hover {
    color: red;
}

.likes_icon1 {
    position: fixed;
    left: 240px;
    top: 350px;
    width: 30px;
    height: 30px;
    line-height: 34px;
    font-size: 18px;
    color: #ccc;
    border: 1px solid #000;
    border-radius: 50%;
}

.likes_icon1:hover {
    color: red;
}

.likes_icon2 {
    position: fixed;
    left: 240px;
    top: 400px;
    width: 30px;
    height: 30px;
    line-height: 34px;
    font-size: 18px;
    color: #ccc;
    border: 1px solid #000;
    border-radius: 50%;
}

.likes_icon2:hover {
    color: red;
}

.content_B_detail_markNav:hover {
    color: red;
}

.content_T_detail {
    width: 100%;
    height: 230px;
    background: #fff;
    border: 1px solid #ccc;
}

/* 导航栏 */
.content_B_detail {
    width: 100%;
    height: 240px;
    background: #fff;
    border-left: 1px solid #ccc;
    margin-top: 20px;

}

.detail_right_reading:hover {
    color: red;
}

.updown {
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #ccc;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.floorbox {
    line-height: 30px;

}

.make {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 99;
}

.makedownload {
    width: 400px;
    height: 600px;
    background: #fff;
    margin-left: 650px;
    margin-top: 50px;

}

.btn {
    background: #fff;
    display: flex;
    text-align: center;
    position: relative;
    
}

.close{
    position: absolute;
    right: 80px;
    top: 500px;
    border: none;
    background: #fff;
}
.submit{
    position: absolute;
    right: 40px;
    top: 500px;
}
    

.makedownload img {
    background: #fff;
}

.show {
    display: none;
}