.details {
  width: 100%;
  height: 100%;
}

.details main {
  width: 100%;
  height: 100%;
}

.details main .details_container {
  width: 100%;
  height: 100%;
}

.details main .details_container .details_container_main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.details main .details_container .details_container_main .details_container_main_header {
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 18px;
}

.details main .details_container .details_container_main .details_main_header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
}

.details main .details_container .details_container_main .details_main_header .details_container_main_header_b1 {
  width: 66%;
  height: 40px;
  float: left;
}

.details main .details_container .details_container_main .details_main_header .details_container_main_header_b1 b {
  color: #fff;
  font-size: 20px;
}

.details main .details_container .details_container_main .details_main_header .details_container_main_right_top {
  width: 25%;
  height: 40px;
  float: left;
  font-size: 20px;
}

.details main .details_container .details_container_main .details_main_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_left {
  width: 70%;
  text-align: center;
  line-height: 20px;
  height: 100%;
  float: left;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_left .details_container_img {
  width: 92%;
  height: 70%;
  margin: 10px auto;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_left .details_container_img img {
  width: 100%;
  height: 100%;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_left b {
  font-size: 20px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_left span {
  color: #807979;
  font-size: 16px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_left p {
  color: #807979;
  font-size: 16px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_left button {
  width: 100px;
  height: 45px;
  color: #807979;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right {
  width: 5rem;
  height: 100%;
  float: left;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_top {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_top b {
  color: #fff;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_bottom {
  width: 90%;
  margin: 5px 27px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_bottom .detail_main {
  width: 100%;
  height: 40%;
  margin-bottom: 20px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_bottom .detail_main header {
  width: 100%;
  height: 50px;
  padding: 5px 15px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_bottom .detail_main main {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_bottom .detail_main main .details_container_left {
  width: 70%;
  height: 100%;
  padding: 10px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_bottom .detail_main main .details_container_left img {
  width: 190px;
  height: 100px;
}

.details main .details_container .details_container_main .details_main_container .details_container_main_right .details_container_main_right_bottom .detail_main main .details_container_right {
  width: 20%;
  height: 100%;
}

.details .classify {
  color: aqua;
}

b {
  color: #fff;
}
