.details {
    width: 100%;
    height: 100%;
    main {
        width: 100%;
        height: 100%;
        .details_container {
            width: 100%;
            height: 100%;
            .details_container_main {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                .details_container_main_header {
                    width: 100%;
                    height: 40px;
                    color:#fff;
                    font-size: 18px;
                }
                .details_main_header {
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 15px;
                    .details_container_main_header_b1 {
                        width: 66%;
                        height: 40px;
                        // margin-left: -15px;
                        float: left;
                        b {
                        color: #fff;
                        font-size: 20px;
                        }
                        // background: darksalmon;
                    }
                    .details_container_main_right_top {
                        width: 25%;
                        height: 40px;
                        // background: blueviolet;
                        float: left;
                        font-size: 20px;
                    }
                }
                .details_main_container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    .details_container_main_left {
                        width: 70%;
                        text-align: center;
                        line-height: 20px;
                        // margin-top: 40px;
                        height: 100%;
                        float: left;
                        .details_container_img {
                            width: 92%;
                            height: 70%;
                            margin: 10px auto;
                            // background: crimson;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        b {
                            font-size: 20px;
                        }
                        span {
                            color: rgb(128, 121, 121);
                            font-size: 16px;
                        }
                        p {
                            color: rgb(128, 121, 121);
                            font-size: 16px;
                        }
                        button {
                            width: 100px;
                            height: 45px;
                            color: rgb(128, 121, 121);
                        }
                    }
                    .details_container_main_right {
                        width: 5rem;
                        height: 100%;
                        float: left;
                        // margin-left: 50px;
                        // background: brown;
                        .details_container_main_right_top {
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            b{
                                color: #fff;
                            }
                            // background: darksalmon;
                        }
                        .details_container_main_right_bottom {
                            width: 90%;
                            margin: 5px 27px;
                            .detail_main {
                                width: 100%;
                                height: 40%;
                                margin-bottom: 20px;
                                header {
                                    width: 100%;
                                    height: 50px;
                                    padding: 5px 15px;
                                }
                                main {
                                    width: 100%;
                                    height: 140px;
                                    display: flex;
                                    align-items: center;
                                    border-bottom: 1px solid #ccc;
                                    .details_container_left {
                                        width: 70%;
                                        height: 100%;
                                        padding: 10px;
                                        img {
                                            width: 190px;
                                            height: 100px;
                                        }
                                    }
                                    .details_container_right {
                                        width: 20%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .classify {
        color: aqua;
    }
}

b {
    color: #fff;
}