.Quizdetails_container{
    width: 100%;
    height: 100%;
    margin: 20px auto;
    display: flex;
}

.Quizdetails_container_left{
    width: calc(100% - 3.5rem);
    height: 100%;
}

.Quizdetails_container_right{
    width: .5rem;
    height: 100%;
    background: yellow;
    margin-left: 5rem;
}


.Quizdetails_container_left_top{
    width: 100%;
    height: 1rem;
    background:#fff;
    text-align: center;
    line-height: 30px;
    color: #000;
    padding-top: 15px;
    margin-bottom: 20px;
}

.Quizdetails_container_left_bottom{
    width: 100%;
    height: calc(100% - 1rem);
}

.p1{
    color: rgb(238, 94, 166);
    font-weight: 500;
    font-size: 22px;
    padding: 3px;
}

p{

    margin-bottom: 0;
}
.auiz_right {
    width: 3rem;
    height: 100%;
    margin-left: 20px;
    // color: #fff;
    .auiz_right_top {
        width: 100%;
        .auiz_right_top_span{
            border-bottom: 1px solid #ccc;
        }
        ul{
            width: 100%;
            height: 100%;
            li{
                padding: 8px 0 0 8px;
                font-size: 15px;
                a{  
                    width: 100%;
                    text-decoration: none !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    span{
                        padding: 0 50px;
                    }
                    // color: #fff;
                }
                a:hover{
                    color: indianred;
                }
                .names{
                    display: flex;
                    justify-content: space-between;
                }
            }
            
        }
    }

    .auiz_right_bottom {
        width: 100%;
        height: 51%;
        margin-top: 20px !important;
        .auiz_right_top_span{
            border-bottom: 1px solid #ccc;
        }
        ul{
            li{
                padding-top: 13px;
                font-size: 15px;
                a{
                    text-decoration: none !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    // color: #fff;
                    display: flex;
                    justify-content: space-between;
                }
                a:hover{
                    color: indianred;
                }
                .names{
                    display: flex;
                    justify-content: space-between;
                }
            }
            span{
                padding-left: 10px;
            }
        }
    }
}

.bottom{
    width: 100%;
    min-height: 4rem;
    box-shadow: 0 0 10px 3px var(--shadow-color);
    nav{
        width: 100%;
        height: 0.5rem;
        border-bottom: 1px solid #5E636D;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a:hover{
            color: red;
        }
    }
    .main{
        width: 100%;
        height: calc(100% - 4rem);
    }
}

.article_container_a_tag_container{
    height:25px;
    box-sizing: border-box;
    display:inline-block;
    border: 1px solid #eee;
    margin:20px;
}

.article_container_a_tag_container:hover{
    border: 1px solid pink;
    cursor: pointer;
    color:pink;
}

a{  
    padding: 3px;
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.on{
    border: solid 1px red;
    color: #fff;
    padding: 5px;
    background: rgb(238, 49, 222);
}

.bottom_route{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background: #fff;
    .bottom_b{
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #000;
        padding: 2px 0 0 10px;
        line-height: 40px;
        b{
            font-size: 18px;
        }
    }
}

.bottom_span{
    width: 100%;
    height: calc(100% - 40px);
    line-height: 60px;
    a{
        margin-left: 30px;
    }
}

.bottom_pro{
    width: 100%;
    height: calc(100% - 40px);
    background: #fff;
    .auiz_left_main {
        width: 98%;
        margin: 0 auto;
        padding: 9px;
        margin: 10px;
        cursor: pointer;
        .auiz_left_total {
            width: 100%;
            height: 100%;
            // border-bottom: 1px solid #ccc;
            line-height: 30px;
            .auiz_header {
                width: 100%;
                display: flex;
                box-shadow: 2px 4px 6px 3px rgb(47, 216, 238);
                height: 40px;
                background: #fefefe;;
                color: #000;
                .auiz_left_container {
                    line-height: 40px;
                    font-weight: 700;
                    font-size: 18px;
                    color: #000;
                    span{
                        padding: 0 10px;
                    }
                }
                .auiz_left_container2{
                    line-height: 40px;
                    margin-left: 10px;
                }
                .auiz_left_container_span {
                    color: #ccbebe;
                }
            }
            .auiz_main {
                height: calc(100% - 40px);
                margin-top: 10px;
                display: flex;
                justify-content: space-around;
                .auiz_left_image {
                    width: 156px;
                    height: 100px;
                    margin: 10px auto;
                    img {
                        width: 156px;
                        height: 100px;
                    }
                }
                .auiz_left_icon{
                    width: 80%;
                    padding: 60px 100px;
                    span{
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}