 .right .title {
  width: 100%;
  height: 50px;
}
.FrameTop {
    width: 100%;
    height: 200px;
  margin-top: 10px;
  background-color: #ccc;
  overflow: auto;
}
.FrameDown {
    width: 100%;
    height: 200px;
  margin-top: 10px;
  background-color: #ccc;
  overflow: auto;
}
