.auiz {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .auiz_left {
        width: 70%;
        height: 100%;
        float: left;
        .auiz_left_main {
            width: 98%;
            margin: 0 auto;
            padding: 9px;
            margin: 10px;
            cursor: pointer;
            .auiz_left_total {
                width: 100%;
                height: 100%;
                // border-bottom: 1px solid #ccc;
                line-height: 30px;
                .auiz_header {
                    width: 100%;
                    display: flex;
                    box-shadow: 2px 4px 6px 3px rgb(47, 216, 238);
                    height: 40px;
                    background: #fefefe;;
                    color: #000;
                    .auiz_left_container {
                        line-height: 40px;
                        font-weight: 700;
                        font-size: 18px;
                        color: #000;
                        span{
                            padding: 0 10px;
                        }
                    }
                    .auiz_left_container2{
                        line-height: 40px;
                        margin-left: 10px;
                    }
                    .auiz_left_container_span {
                        color: #ccbebe;
                    }
                }
                .auiz_main {
                    height: calc(100% - 40px);
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-around;
                    .auiz_left_image {
                        width: 156px;
                        height: 100px;
                        margin: 10px auto;
                        img {
                            width: 156px;
                            height: 100px;
                        }
                    }
                    .auiz_left_icon{
                        width: 80%;
                        padding: 60px 100px;
                        span{
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .auiz_right {
        width: 3rem;
        height: 100%;
        // color: #fff;
        .auiz_right_top {
            width: 100%;
            margin-top: 20px;
            .auiz_right_top_span{
                border-bottom: 1px solid #ccc;
            }
            ul{
                width: 100%;
                height: 100%;
                li{
                    padding: 8px 0 0 8px;
                    font-size: 15px;
                    a{  
                        width: 100%;
                        text-decoration: none !important;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        span{
                            padding: 0 50px;
                        }
                        // color: #fff;
                    }
                    a:hover{
                        color: indianred;
                    }
                    .names{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                
            }
        }

        .auiz_right_bottom {
            width: 100%;
            height: 51%;
            margin-top: 20px !important;
            .auiz_right_top_span{
                border-bottom: 1px solid #ccc;
            }
            ul{
                li{
                    padding-top: 13px;
                    font-size: 15px;
                    a{
                        text-decoration: none !important;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        // color: #fff;
                        display: flex;
                        justify-content: space-between;
                    }
                    a:hover{
                        color: indianred;
                    }
                    .names{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                span{
                    padding-left: 10px;
                }
            }
        }
    }
}

.to_top{
    position:fixed;
    bottom:90px;
    right:140px;
    z-index:105;
}