.auiz {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.auiz .auiz_left {
  width: 70%;
  height: 100%;
  float: left;
}

.auiz .auiz_left .auiz_left_main {
  width: 98%;
  margin: 0 auto;
  padding: 9px;
  margin: 10px;
  cursor: pointer;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total {
  width: 100%;
  height: 100%;
  line-height: 30px;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_header {
  width: 100%;
  display: flex;
  box-shadow: 2px 4px 6px 3px #2fd8ee;
  height: 40px;
  background: #fefefe;
  color: #000;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_header .auiz_left_container {
  line-height: 40px;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_header .auiz_left_container span {
  padding: 0 10px;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_header .auiz_left_container2 {
  line-height: 40px;
  margin-left: 10px;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_header .auiz_left_container_span {
  color: #ccbebe;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_main {
  height: calc(100% - 40px);
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_main .auiz_left_image {
  width: 156px;
  height: 100px;
  margin: 10px auto;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_main .auiz_left_image img {
  width: 156px;
  height: 100px;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_main .auiz_left_icon {
  width: 80%;
  padding: 60px 100px;
}

.auiz .auiz_left .auiz_left_main .auiz_left_total .auiz_main .auiz_left_icon span {
  padding-left: 5px;
}

.auiz .auiz_right {
  width: 3rem;
  height: 100%;
}

.auiz .auiz_right .auiz_right_top {
  width: 100%;
  margin-top: 20px;
}

.auiz .auiz_right .auiz_right_top .auiz_right_top_span {
  border-bottom: 1px solid #ccc;
}

.auiz .auiz_right .auiz_right_top ul {
  width: 100%;
  height: 100%;
}

.auiz .auiz_right .auiz_right_top ul li {
  padding: 8px 0 0 8px;
  font-size: 15px;
}

.auiz .auiz_right .auiz_right_top ul li a {
  width: 100%;
  text-decoration: none !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.auiz .auiz_right .auiz_right_top ul li a span {
  padding: 0 50px;
}

.auiz .auiz_right .auiz_right_top ul li a:hover {
  color: indianred;
}

.auiz .auiz_right .auiz_right_top ul li .names {
  display: flex;
  justify-content: space-between;
}

.auiz .auiz_right .auiz_right_bottom {
  width: 100%;
  height: 51%;
  margin-top: 20px !important;
}

.auiz .auiz_right .auiz_right_bottom .auiz_right_top_span {
  border-bottom: 1px solid #ccc;
}

.auiz .auiz_right .auiz_right_bottom ul li {
  padding-top: 13px;
  font-size: 15px;
}

.auiz .auiz_right .auiz_right_bottom ul li a {
  text-decoration: none !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.auiz .auiz_right .auiz_right_bottom ul li a:hover {
  color: indianred;
}

.auiz .auiz_right .auiz_right_bottom ul li .names {
  display: flex;
  justify-content: space-between;
}

.auiz .auiz_right .auiz_right_bottom ul span {
  padding-left: 10px;
}

.to_top {
  position: fixed;
  bottom: 90px;
  right: 140px;
  z-index: 105;
}
