.shorp_home {
    width: 100%;
    height: 100%;
    
}
.shorp_left_home {
    width: 800px;
    height: 100%;
    background: #f8f8ff;
    float: left;
    margin-left: 300px;
    margin-top: 20px;
}
.shorp_right_home{
    width: 320px;
    height: 100%;
    background:#f8f8ff;
    float: right;
    margin-right: 270px;
    margin-top: 20px;
}
.shorp_title:hover{
    color: red;
}