@import 'antd/dist/antd.css';

:root{
  --body-color:#E6EAEE;
  --words-color:#000;
  --page-color :#fff;
  --shadow-color:#ccc;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: none;
}

html,body,#root{
  width: 100%;
  height: 100%;
}

html{font-size: 100px;}
body{font-size: 16px;}
.active{
  color: #40A9FF;
}