
.index{
    width: 100%;
    height: 100%;
    
}
.index header{width: 100%;height: 0.6rem;box-shadow: 3px 4px 6px 3px #eee;background-color: var(--page-color);border-bottom: 1px solid #54565E;}
header .top{width:75%;height: 100%;margin: 0 auto;display: flex;justify-content: space-between; }
.index header .top .left{width: 55%;height: 100%;display: flex;justify-content: space-around;align-items: center;}
.index header .left li{width:20% ; height: 100%;}
li a{width: 100%;height: 100%;display: flex;align-items: center;justify-content: center; color:var(--words-color);}
li img{width: 90;height: 90%;}
.index header .top .right{width: 30%;height: 100%;display: flex;justify-content: space-around;align-items: center;}
.icon{transition: .5s;}

.right .icon:hover{transform: rotate(-20deg);}


.index main{width: 100%;padding: 10px 0; background-color: var(--body-color);color:var(--words-color)}
main .content{width: 75%;margin: 0 auto;}
.index footer{width: 100%;height: 0.4rem;background-color: var(--page-color);color:var(--words-color);}
footer .main{  width: 90%;height: 100%;margin: 0 auto; display: flex;justify-content: center;align-items: center;font-size: 10px;}
