.Article{width: 100%;height: 100%;display: flex;justify-content: space-between;
.left{width: 70%;background-color: var(--bg-color);

.top{width: 100%;height:4.2rem ; padding: 8px;background-color:var(--page-color);margin-bottom: 0.2rem;box-shadow: 0 0 10px 3px var(--shadow-color);}//轮播
.top .ant-carousel{width: 100%;height: 100%;}
.top div{height: 100%;}
.top .swiper{width: 100%;height:100%;position: relative;
img{width: 100%;height: 100%;}
.content{position: absolute;top: 70%;left: 0;color: #fff;opacity: .8; width: 100%;display: flex;flex-direction: column;align-items: center;
h3{color:#fff}
}
}
.bottom{width: 100%;min-height: 4rem;background-color: var(--page-color);box-shadow: 0 0 10px 3px var(--shadow-color);
nav{width: 100%;height: 0.5rem;border-bottom: 1px solid #5E636D;display: flex;align-items: center;
a{color: var(--words-color);height: 100%;display: flex;margin: 0 5px; align-items: center;padding: 0 10px;}
.on{color:#FF0064}
}
}
}
// 右侧列表
.right{width: 26%;height: 66%; background-color: var(--body-color);
      
    
    .list{width: 100%;background-color: var(--page-color);margin-bottom: 10px;
          box-shadow: 0 0 30px 3px var(--shadow-color);
          li{line-height: 24px;}
        a{color:var(--words-color)}
    h4{color:var(--action-type)}
    h4{line-height: 30px;}
    padding: 10px;
    p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    }
    span{padding: 5px;margin: 5px;}
    span:hover{border-color: red;}
    }}}