.Article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.Article .left {
  width: 70%;
  background-color: var(--bg-color);
}

.Article .left .top {
  width: 100%;
  height: 4.2rem;
  padding: 8px;
  background-color: var(--page-color);
  margin-bottom: 0.2rem;
  box-shadow: 0 0 10px 3px var(--shadow-color);
}

.Article .left .top .ant-carousel {
  width: 100%;
  height: 100%;
}

.Article .left .top div {
  height: 100%;
}

.Article .left .top .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.Article .left .top .swiper img {
  width: 100%;
  height: 100%;
}

.Article .left .top .swiper .content {
  position: absolute;
  top: 70%;
  left: 0;
  color: #fff;
  opacity: .8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Article .left .top .swiper .content h3 {
  color: #fff;
}

.Article .left .bottom {
  width: 100%;
  min-height: 4rem;
  background-color: var(--page-color);
  box-shadow: 0 0 10px 3px var(--shadow-color);
}

.Article .left .bottom nav {
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px solid #5E636D;
  display: flex;
  align-items: center;
}

.Article .left .bottom nav a {
  color: var(--words-color);
  height: 100%;
  display: flex;
  margin: 0 5px;
  align-items: center;
  padding: 0 10px;
}

.Article .left .bottom nav .on {
  color: #FF0064;
}

.Article .right {
  width: 26%;
  height: 66%;
  background-color: var(--body-color);
}

.Article .right .list {
  width: 100%;
  background-color: var(--page-color);
  margin-bottom: 10px;
  box-shadow: 0 0 30px 3px var(--shadow-color);
  padding: 10px;
}

.Article .right .list li {
  line-height: 24px;
}

.Article .right .list a {
  color: var(--words-color);
}

.Article .right .list h4 {
  color: var(--action-type);
}

.Article .right .list h4 {
  line-height: 30px;
}

.Article .right .list p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Article .right .list span {
  padding: 5px;
  margin: 5px;
}

.Article .right .list span:hover {
  border-color: red;
}
