.mask {
  padding: 0 150px;
  width: 100%;
  height: 100%;
  background: var(--body-color);
  transition: 1s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.mask input {
  border: 2px solid #000;
  outline: none;
  height: 40px;
}

.mask button {
  height: 40px;
}

.mask .maskTop {
  font-size: 22px;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mask main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.mask main li {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
