// mask遮罩
.mask{padding: 0 150px; width: 100%;height: 100%;background: var(--body-color);transition: 1s; position: absolute;left: 0;top: 0;z-index: 99;
    input{border: 2px solid #000;outline: none;height: 40px;}
    button{height: 40px;}
.maskTop{font-size: 22px;padding: 0 20px; width: 100%;height: 60px;display: flex;align-items: center;justify-content: space-between;}
main{width: 100%;display: flex;flex-direction: column;padding:0 30px;
li{width: 100%;height: 40px;line-height: 40px;}
}
}