.all {
  width: 100%;
}

.all .ele {
  width: 100%;
  padding: 0 10px;
  height: 1.5rem;
  transition: .4s;
  border-bottom: 1px solid #EFF2F6;
  display: flex;
  flex-direction: column;
}

.all .ele h4 {
  line-height: 26px;
  color: var(--words-color);
}

.all .ele h4:hover {
  text-decoration: underline;
}

.all .ele dl {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.all .ele dl dt {
  width: 26%;
  height: 80%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.all .ele dl dt img {
  width: 100%;
  height: 100%;
}

.all .ele dl dd {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.1rem;
}

.all .ele dl dd p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

.all .ele dl dd .bar {
  width: 100%;
  display: flex;
  font-size: 12px;
}

.all .ele dl dd .bar li {
  margin: 0 10px;
}
