 // all
 .all {
     width: 100%;

     .ele {
         width: 100%;
         padding: 0 10px;
         height: 1.5rem;
         transition: .4s;
         border-bottom: 1px solid #EFF2F6;
         display: flex;
         flex-direction: column;
        
         h4 {
             line-height: 26px;
             color: var(--words-color)
         }

         h4:hover {
             text-decoration: underline;
         }

         dl {
             width: 100%;
             height: 90%;
             display: flex;
             align-items: center;
             overflow: hidden;

             dt {
                 width: 26%;
                 height: 80%;
                 display: flex;
                 overflow: hidden;
                 justify-content: center;
                 align-items: center;

                 img {
                     width: 100%;
                     height: 100%;
                 }
             }

             dd {
                 width: 70%;
                 height: 100%;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;

                 p {
                     overflow: hidden;
                     text-overflow: ellipsis;
                     display: -webkit-box;
                     -webkit-line-clamp: 2;
                     -webkit-box-orient: vertical;
                     font-size: 14px;
                 }

                 .bar {
                     width: 100%;
                     display: flex;
                     font-size: 12px;

                     li {
                         margin: 0 10px;
                     }
                 }

                 padding-left: 0.1rem;
             }
         }

     }
 }




 // .ele:hover{background-color:#eee ;}