.details{width: 100%;height: 100%;  
    display: flex;
    background: var(--body-color);
    justify-content: space-around;
    .left{width: 70%;height: 100%;
    position: relative;
    box-shadow: 0 0 4px 5px var(--shadow-color);
    .touch_bar{position: absolute; width: 0.8rem;height: 2rem; left:-0.8rem ;li{width: 100%;display: flex;flex-direction: column;justify-content: space-around;align-items: center;}top: 2rem; display: flex;flex-direction: column;justify-content: space-around;align-items: center;
    .bar_icon{width: 46px;height: 46px;border-radius: 50%;background-color: #fff;display: flex;justify-content: center;align-items: center;}
    
    }
    .banner{width: 100%;height: 30%;padding: 8px;background-color: #fff;}//轮播
    .banner div{height: 100%;}
    .banner .swiper{position: relative;
    .content{position: absolute;top: 40%;left: 0;color: #fff;opacity: .8; width: 100%;display: flex;flex-direction: column;align-items: center;
    h3{color:#fff}
    }
    img{width: 100%;height: 100%;}
    }
    
    
    // 文章布局
    .text{
        margin: 10px 0 0 0;
        width: 100%;min-height: 200px;
        padding: 10px;
        background-color: var(--page-color);
        header{ width: 100%;height: 50px;display: flex;justify-content: space-around;align-items: center;
        span{cursor: pointer;}
       
        span:hover::after{
            transform: rotate(180deg);
        }
        span.on{color:red}
        }
    
        // content
        .content{width: 100%;
        .ele{width: 100%;
        dl{width: 100%;display: flex;
        dd{height: 50px;display: flex;flex-direction: column;}
        }
        p{width: 100%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow:hidden;}
        margin: 10px 0;
        .bar{width: 100%;height: 40px;display: flex;justify-content: space-around;border-top:1px solid #eee;border-bottom:1px solid #eee;
       .bar_son{width: 33%;height: 100%;display: flex;justify-content: center;align-items: center;border-right: 1px solid #eee;}
       .bar_son:nth-last-child(1){border-right: none;}
        }
        }
        }
    }
    .mymoment div{background-color: var(--page-color);color:var(--words-color)}
    .ant-comment{background-color: var(--page-color);color: var(--words-color); margin: 10px 0;padding: 0 10px;border-bottom: 1px solid #eee;
    span , a ,li{color: var(--words-color); ;}
    }
    .commenthead{color: var(--words-color);}

    }
    
    
    // 右侧列表
    .right{width: 26%;height: 66%; background-color: var(--body-color);
      
    
    .list{width: 100%;background-color: var(--page-color);margin-bottom: 10px;
          box-shadow: 0 0 30px 3px var(--shadow-color);
        a{color:var(--words-color)}
    h4{color:var(--action-type)}
    h4{line-height: 30px;}
    padding: 10px;
    p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    }
    span{padding: 5px;margin: 5px;}
    span:hover{border-color: red;}
    }
    .list::-webkit-scrollbar{display: none;}
    }
    
    // 置顶
    .top{
        position: fixed;
        right: 4%;
        color: red;
        font-size: 30px;
        transform: rotate(-90deg);
        bottom: 10%;
        z-index: 99;
        
    }
    
    h3,h1{color:var(--action-type)}
    li{cursor: pointer;}
    li.on{color: red;}

    
    }