.details {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--body-color);
  justify-content: space-around;
}

.details .left {
  width: 70%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 4px 5px var(--shadow-color);
}

.details .left .touch_bar {
  position: absolute;
  width: 0.8rem;
  height: 2rem;
  left: -0.8rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.details .left .touch_bar li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.details .left .touch_bar .bar_icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details .left .banner {
  width: 100%;
  height: 30%;
  padding: 8px;
  background-color: #fff;
}

.details .left .banner div {
  height: 100%;
}

.details .left .banner .swiper {
  position: relative;
}

.details .left .banner .swiper .content {
  position: absolute;
  top: 40%;
  left: 0;
  color: #fff;
  opacity: .8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .left .banner .swiper .content h3 {
  color: #fff;
}

.details .left .banner .swiper img {
  width: 100%;
  height: 100%;
}

.details .left .text {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 200px;
  padding: 10px;
  background-color: var(--page-color);
}

.details .left .text header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details .left .text header span {
  cursor: pointer;
}

.details .left .text header span:hover::after {
  transform: rotate(180deg);
}

.details .left .text header span.on {
  color: red;
}

.details .left .text .content {
  width: 100%;
}

.details .left .text .content .ele {
  width: 100%;
  margin: 10px 0;
}

.details .left .text .content .ele dl {
  width: 100%;
  display: flex;
}

.details .left .text .content .ele dl dd {
  height: 50px;
  display: flex;
  flex-direction: column;
}

.details .left .text .content .ele p {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.details .left .text .content .ele .bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.details .left .text .content .ele .bar .bar_son {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #eee;
}

.details .left .text .content .ele .bar .bar_son:nth-last-child(1) {
  border-right: none;
}

.details .left .mymoment div {
  background-color: var(--page-color);
  color: var(--words-color);
}

.details .left .ant-comment {
  background-color: var(--page-color);
  color: var(--words-color);
  margin: 10px 0;
  padding: 0 10px;
  border-bottom: 1px solid #eee;
}

.details .left .ant-comment span, .details .left .ant-comment a, .details .left .ant-comment li {
  color: var(--words-color);
}

.details .left .commenthead {
  color: var(--words-color);
}

.details .right {
  width: 26%;
  height: 66%;
  background-color: var(--body-color);
}

.details .right .list {
  width: 100%;
  background-color: var(--page-color);
  margin-bottom: 10px;
  box-shadow: 0 0 30px 3px var(--shadow-color);
  padding: 10px;
}

.details .right .list a {
  color: var(--words-color);
}

.details .right .list h4 {
  color: var(--action-type);
}

.details .right .list h4 {
  line-height: 30px;
}

.details .right .list p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.details .right .list span {
  padding: 5px;
  margin: 5px;
}

.details .right .list span:hover {
  border-color: red;
}

.details .right .list::-webkit-scrollbar {
  display: none;
}

.details .top {
  position: fixed;
  right: 4%;
  color: red;
  font-size: 30px;
  transform: rotate(-90deg);
  bottom: 10%;
  z-index: 99;
}

.details h3, .details h1 {
  color: var(--action-type);
}

.details li {
  cursor: pointer;
}

.details li.on {
  color: red;
}
