.classify {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.classify header {
  box-shadow: none;
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.classify header h2 {
  color: #f00;
}

.classify main {
  background-color: var(--page-color);
}

.classify main h2 {
  color: #555555;
  padding-left: 20px;
  margin-top: 20px;
}

.classify main li {
  list-style-type: disc;
  padding-left: 30px;
  line-height: 30px;
  cursor: pointer;
}

.classify main li span {
  color: #ccc;
}

.classify .left {
  width: 65%;
  background-color: var(--page-color) !important;
  box-shadow: 0 0 4px 3px var(--shadow-color);
  padding: 0 10px;
}

.classify .left h1, .classify .left h3 {
  color: var(--words-color);
}

.classify .right {
  width: 30%;
  background-color: var(--bg-color);
}

.classify .right .list {
  width: 100%;
  background-color: var(--page-color);
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 3px var(--shadow-color);
}

.classify .right .list h3 {
  color: var(--action-type);
  line-height: 40px;
  border-bottom: 1px solid #E6EAEE;
  border-bottom: 1px solid #eee;
}

.classify .right .list li {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 28px;
  font-size: 14px;
}

.classify .right .list span {
  padding: 5px 10px;
  margin: 5px;
}

.classify .right .list span:hover {
  border-color: red;
}

.classify .right .list::-webkit-scrollbar {
  display: none;
}
