.classify{width: 100%;
    display: flex;
    justify-content: space-between;
padding: 0 10px;   
    
    header{box-shadow: none; width: 100%;height: 1rem;border-bottom: 1px solid #eee;display: flex;flex-direction: column;align-items: center;justify-content: center;h2{color:#f00}}
    main{
        h2{color:#555555;padding-left: 20px;margin-top: 20px;}
        li{list-style-type: disc;padding-left: 30px;line-height: 30px;span{color:#ccc};cursor: pointer;}
        background-color: var(--page-color);
    }
    
    
 
.left{
    width: 65%;background-color: var(--page-color) !important;
    h1,h3{color:var(--words-color)}
    box-shadow: 0 0 4px 3px var(--shadow-color);
    padding: 0 10px;
  
}

// 右侧列表
.right{width: 30%; background-color: var(--bg-color);
.list{width: 100%;background-color: var(--page-color);margin-bottom: 10px;padding: 10px; box-shadow: 0 0 10px 3px var(--shadow-color);
    h3{color:var(--action-type);line-height: 40px;border-bottom: 1px solid #E6EAEE;border-bottom: 1px solid #eee;}
    li{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 28px;
    font-size: 14px;
    }
    span{padding: 5px 10px;margin: 5px;}
    span:hover{border-color: red;}
    }
    .list::-webkit-scrollbar{display: none;}
    }
}
    